@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --background: #F4D04E;
    --spacing-xl: 24px;
    --spacing-lg: 12px;
    --spacing-md: 8px;
    --spacing-sm: 4px;
    --font-family: "Figtree";
    --par-color: #6B6B6B;
}

* {
    box-sizing: border-box;
    font-family: "Figtree", sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background);
}

main {
    display: grid;
    place-content: center;
    min-height: 100vh;
}

.card {
    background-color: white;
    padding: var(--spacing-xl);
    border-radius: 20px;
    max-width: 24rem;
    margin: 0 1.5rem;


    box-shadow: 12px 12px 0px 1px #111111;
    border: #111111 solid 1px;

    /* border-bottom: #111111 solid 12px;
    border-right: #111111 solid 12px; */
}

.card:hover h1 {
    color: #F4D04E;
}

.card .tag {
    background-color: var(--background);
    display: inline-block;
    padding: var(--spacing-sm);
    border-radius: 4px;
    font-size: 14px;
    font-family: var(--font-family);
    font-weight:800;
}

.card .time {
    padding-top: var(--spacing-md);
}

.card .blog-picture {
    display: flex;
    justify-content: center;
    padding-bottom: var(--spacing-md);
    
}

.card .blog-picture img {
    border-radius: 10px;
  
    width: 100%;
}

h1 {
    font-size: 20px;
    font-weight: 800;
}

p {
    color: --par-color;
    font-weight:500;
}

.author {
    display: flex;
    font-weight: 800;
    gap: 16px;
    align-items: center;
}

.author img {
    max-width: 12%;
    height: 12%;
}