@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --background: #F4D04E;
    --spacing-xl: 1.5rem;
    --spacing-lg: 0.75rem;
    --spacing-md: 0.5rem;
    --spacing-sm: 0.25rem;
    --font-family: "Figtree";
    --par-color: #6B6B6B;
}

* {
    box-sizing: border-box;
    font-family: "Figtree", sans-serif;
    margin: 0;
    padding: 0;
}

img, picture {
    display: block;
    width: 100%;
}

body {
    background-color: var(--background);
}

main {
    display: grid;
    place-content: center;
    min-height: 100vh;
}

h1 {
    font-size: 20px;
    font-weight: 800;
}

p {
    color: --par-color;
    font-weight:500;
}

.card {
    background-color: white;
    padding: var(--spacing-xl);
    border-radius: 20px;
    max-width: 24rem;
    margin: 0 1.5rem;


    box-shadow: 12px 12px 0px 1px #111111;
    border: #111111 solid 1px;
}

.card:hover h1 {
    color: #F4D04E;
}

.card__tag {
    background-color: var(--background);
    display: inline-block;
    padding: var(--spacing-sm);
    border-radius: 4px;
    font-size: 14px;
    font-family: var(--font-family);
    font-weight:800;
}

.card__date {
    padding-top: var(--spacing-md);
}

.card__image {
    border-radius: 10px;
}

.author {
    display: flex;
    font-weight: 800;
    gap: 16px;
    align-items: center;
}

.author__photo {
    max-width: 12%;
    height: 12%;
}